:root {
    --gradient: linear-gradient(163deg, #3182ce 0%, #63b3ed 100%);
    --gradient-dark: linear-gradient(31deg, #313860 0%, #151928 100%);; 
    
    overflow: hidden
}

.Login-Container {
    width: 100%;
    height: 100vh;

    background-color: #EFF9EE;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}