header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header span {
    display: flex;
    align-self: flex-start;
    color: #A59E9E;
}

header div {
    display: flex;
    justify-content: flex-end;
}

a {
    font-size: .8em;
    color: #A59E9E;
    text-decoration: none;
}

section {
    display: flex;
    flex-direction: row;
}

section>img {
    width: 100%;
    color: #286955;
    padding: .1em;
}

.Login-button {
    background: #286955;

    width: 365px;
    padding: 10px;
    margin-top: 10px;

    border-radius: 50px;

    color: white;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.075em;

    border: none;
    outline: none;

    transition: background 3s ease;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.Login-button::before {
    content: "";

    height: 100%;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;

    border-radius: 50px;
    background: var(--gradient-dark);

    z-index: -1;
    opacity: 0;
    transition: .5s ease;
}

.Login-button:hover::before {
    opacity: 1;
}

.Login-button:active {
    transform: scale(0.9);
}

.Login-Google{
    background: #ffffff;

    width: 365px;
    padding: 10px;
    margin-top: 10px;

    border-radius: 50px;

    color: rgb(102, 102, 102);
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.075em;

    border: none;
    outline: none;

    transition: background 3s ease;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.Login-Facebook{
    background: rgb(0, 0, 161);

    width: 365px;
    padding: 15px;
    margin-top: 10px;

    border-radius: 50px;

    color: white;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.075em;

    border: none;
    outline: none;

    transition: background 3s ease;
    cursor: pointer;
    position: relative;
    z-index: 0;
}