

.form{
    width: 51%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3ren;
    border-radius:50px;
}

.form-image{
    width: 44%;
    height: 60%;
}

.input-form input{
    /*margin: 0.6rem 0;*/
    margin: 2px;
    /*padding: 0.8rem 1.2rem;*/
    /*border: none;*/
    /*border-radius: 15px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*margin-bottom: 1.1rem;*/
   /* box-shadow: 1px 1px 6px;*/
    margin-bottom: 20px;

}



#nomecompleto{
    background-color: #ebf9e9 ;
}
#cpf{
    background-color: #ebf9e9 ;
}
#telefone{
    background-color: #ebf9e9 ;
}
#data{
    background-color: #ebf9e9 ;
}
#cep{
    background-color: #ebf9e9 ;
}
#numero{
    background-color: #ebf9e9 ;
}
#e-mail{
    background-color: #ebf9e9 ;
}
#rua{
    background-color: #ebf9e9 ;
}
#bairro{
    background-color: #ebf9e9 ;
}
#e-mail{
    background-color: #ebf9e9 ;
}
#senha{
    background-color: #ebf9e9 ;
}
.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0;
}

.confirmar-button button {
    width: 250%;
    margin-top: 2.5rem;
    border: none;
    background-color: rgba(40, 168, 40, 0.801);
    padding: 0.75rem;
    border-radius: 15px;
    cursor: pointer;
    right: 50%;
}
.confirmar-button button:hover{
    background-color: #c3fbbd;
}

.cancelar-button button {
    width: 250%;
    margin-top: 2.5rem;
    border: none;
    background-color: rgb(251, 70, 70);
    padding: 0.75rem;
    border-radius: 15px;
    cursor: pointer;
}
.cancelar-button button:hover{
    background-color: #cb1e1e;
}

.botoes{
    display: flex;
    order: 2;
}
.botoes button {
    width: 184px;
}
.data{
    order: 2;
    width: 184px;
    /*background-color: #ebf9e9 ;*/
}
